<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="hostFtp" value="files.strauss-group.com"/>
    <add key="userNameFtp" value="micro"/>
    <add key="passwordFtp" value="UHdJ9Jz2"/>
    <add key="remoteFilePathFtp" value="/test/out/"/>
    <add key="InFilePathFtp" value="/test/in/"/>
    <add key="localInFilePathFtp" value="C:\work\NesherProj\ShtrausFiles\InFtp"/>
    <add key="AlreadyInNautilusFilePathFtp" value="/test/Already In Nautilus/"/>
    <add key="InputFolderEnvironment" value="C:\work\NesherProj\ShtrausFiles\ShtrausMaterialIN\"/>
    <add key="OutputFolderEnvironment" value="C:\work\NesherProj\ShtrausFiles\"/>
    <add key="InputFolderMaterial" value="C:\work\NesherProj\ShtrausFiles\ShtrausMaterialIN\"/>
    <add key="OutputFolderMaterial" value="C:\work\NesherProj\ShtrausFiles\"/>
    
    
    <add key="LogPath" value="C:\work\NesherProj\ShtrausFiles\ShtrausLog\"/>
    <add key="U_SAMPLED_BY" value="61"/>
    <add key="U_SAMPLED_BY_test" value="101"/>
    <add key="Workflow_NameSdg" value="NESHER SDG FOOD"/>
    <add key="DESCRIPTIONSdg" value="by instrument"/>
    <add key="Workflow_NameSample" value="מזון"/>
    <add key="PRODUCT_IDSample" value="1223"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

	<add key="Laborator_manager_mail" value="avigaile@one1.co.il"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=microb;user id=lims_sys;password=lims_sys;Pooling=False;"/>
    <add name="connectionStringEF" connectionString="metadata=res://*/NautilusModel1.csdl|res://*/NautilusModel1.ssdl|res://*/NautilusModel1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=microb;password=lims;persist security info=True;user id=LIMS&quot;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>

<!-- 
<add key="OutputFolderInstrument" value="C:\work\NesherProj\ShtrausFiles\ShtrausInstrumentIN\"/>
<add key="OutputFolderSdg" value="C:\work\NesherProj\ShtrausFiles\out"/>
-->